<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<link rel="stylesheet" href="<%= assetsUrl %>/tule/css/tule.min.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<style type="text/css">
		.login-box {
			width: 300px;
			margin: 100px auto;
		}
		form {
			background: #e6f5e6;
			padding: 15px;
			box-shadow: -5px 5px rgba(0, 0, 0, 0.05);
			border: 2px solid #ddd;
		}
		label{
			display: block;
		}
		input {
			width: 100%;
		}
		.login-field {
			margin-bottom: 15px;
		}

		.login-submit {
			text-align: right;
			margin-bottom: 0;
		}

		.login-submit input{
			width: 100px;
		}
	</style>
</head>
<body>
<div class="login-container">
	<div class="login-box">
		<h1>Log in</h1>
		<form method="post">
			<div class="login-field">
				<label for="username">User name:</label>
				<input type="text" name="username" value="<%= username %>">
			</div>
			<div class="login-field">
				<label for="username">Password:</label>
				<input type="password" name="password">
			</div>
			<div class="login-field login-submit">
				<input type="submit" value="Log in"></input>
			</div>
		</form>
		<div class="error <%= message ? 'login-visible' : '' %>"><%= message %></div>
	</div>
</div>
</body>
</html>